<div *ngIf="!nuevoProducto">
    <button class="btn btn-lg btn-warning btn-block"  (click)="hacerNuevoProducto()">Nuevo </button>
  </div>
  <div *ngIf="nuevoProducto">
    <h2>{{nuevoProducto.Id}} Id</h2>
    <div>
      <label>Descripcion:
        <input [(ngModel)]="nuevoProducto.Descripcion" placeholder="Descripcion">
      </label>
    </div>
    <div>
        <label>Precio:
          <input [(ngModel)]="nuevoProducto.Precio" placeholder="Precio">
        </label>
      </div>
    <div>
        <label>Tipo:
          <select [(ngModel)]="nuevoProducto.Tipo" >
            <option value="Liquido">Liquido</option>
            <option value="Solido">Solido</option>
          </select>
          
        </label>
      </div>
      <div>
        <label>Fecha de Vencimiento:
          <input [(ngModel)]="nuevoProducto.FechaDeVencimiento" placeholder="Fecha de Vencimiento">
        </label>
      </div>

      <img class="card-img-top" src="/assets/imagenes/pordefecto.png" alt="Card image" style="width:70px">
      <button type="button" class="btn btn-default btn-circle" ><i class="fa fa-cloud-upload"></i>Cambiar</button>
      <button class="btn btn-lg btn-success btn-block"  (click)="crearProducto()">Crear Producto</button>
  
    
  
  
  </div>
  