<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Region</th>
        <th>Subregion</th>
        <th>Poblacion</th>
        <th>Bandera</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="emitir(pais)" *ngFor="let pais of listadoPaises">
        <td>{{pais.Name}}</td>
        <td>{{pais.Capital}}</td>
        <td>{{pais.Region}}</td>
        <td>{{pais.Subregion}}</td>
        <td>{{pais.Population}}</td>
        <td><img style="width: 100px" src="{{pais.Flag}}"/></td>
      </tr>
     
    </tbody>
  </table>