<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container">
    <button type="button" class="btn btn-primary">Bienvenido</button> 
    <button type="button" class="btn btn-primary">Busqueda</button> 
    <button type="button" class="btn btn-primary">Alta de pelicula</button> 
    <button type="button" class="btn btn-primary">Alta de actor</button> 
    <button type="button" class="btn btn-primary">Listado de actores</button> 
    <button type="button" class="btn btn-primary" routerLink="/tabla-pelicula">Listado peliculas</button>  
</div>