<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container">
    <button type="button" class="btn btn-primary">Bienvenido</button> 
    <button type="button" class="btn btn-primary" routerLink="/paises-listado">Listado paises</button> 
    <!-- <button type="button" class="btn btn-primary">Alta de pelicula</button> 
    <button type="button" class="btn btn-primary">Alta de actor</button> 
    <button type="button" class="btn btn-primary" routerLink="/tabla-actor">Listado de actores</button> 
    <button type="button" class="btn btn-primary" routerLink="/pelicula-listado">Listado peliculas</button>   -->
</div>