<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div id="content" >
    <article  class="post clearfix">
      <header  >
        <h1 class="post-title"><a href="#">Listado de Productos</a></h1>
      </header>
      <hr>
      <div id="principal">
          <app-lista [listadoProductos]="ListadoProductosPrincipal"
            (productoSeleccionado)="tomarProductoParaDetalles($event)"></app-lista>  
      </div>    
    </article>
</div>
<hr>
<section class="widget clearfix" >
    <h3 class="widgettitle">Alta </h3>
      <div class="informe">
        <app-producto (SeCreoUnProducto)="mostrarProducto($event)"></app-producto>
      </div>
  </section>
  <hr>
  <section class="widget clearfix" >
    <h4 class="widgettitle">Detalle </h4>
      <div class="informe">
          <app-mostrar [unProducto]="productoSeleccionado"></app-mostrar>
        </div>
  </section>